/**
----------------------------------------------
---------- PROJECTS CONTENT ------------------
----------------------------------------------
**/

/* PROJECTS CONTENT */
.projects-content {
    padding: 15px;
    margin: 0px 3%;
}

#projects-content-title {
    margin-top: -0.5%;
    margin-bottom: 11.5%;
    font-family: "WorkSans-SemiBold", "Work Sans", sans-serif;
    font-size: 216%;
    line-height: normal;
    letter-spacing: normal;
}

.projects-content-section-title {
    margin: 20px 0;
    font-size: 20px;
}

.projects-content-section-title h2 {
    font-family: "WorkSans-SemiBold", "Work Sans", sans-serif;
    font-size: 141%;
}

.projects-content-section-summary {
    margin-bottom: 20px;
}

.projects-content-section-summary p {
    margin: -3% 0px;
    font-size: 128%;
    line-height: 1.6em;
}

.projects-content-section-summary a {
    font-style: italic;
    color: orange;
}

.projects-content-section-image>img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    object-fit: contain;
}

/**
-------------------------------------------------------
---------- RESPONSIVENESS MANAGEMENT ------------------
-------------------------------------------------------
**/

/* PROJECTS CONTENT */
@media only screen and (min-width: 768px) {
    .projects-content {
        margin: -5.8% 0% 15% 2%;
    }

    #projects-content-title {
        margin-top: 0%;
        margin-bottom: -1%;
        margin-left: 15%;
        font-size: 42px;
    }

    .projects-content-section {
        display: flex;
        margin-top: 5.5%;
        margin-right: 15%;
        margin-left: 15%;
        flex-direction: row;
        justify-content: space-between;
    }

    .projects-content-section-text-details {
        width: 30%;
    }

    .projects-content-section-title {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .projects-content-section-title h2 {
        font-size: 132%;
    }

    .projects-content-section-summary p {
        margin: -3% 0px;
        font-size: 101%;
        line-height: 1.6em;
    }

    .projects-content-section-image>img {
        width: 490px;
        height: 330px;
        object-fit: contain;
    }
}
