/**
------------------------------------
---------- RESUME CONTENT-----------
------------------------------------
**/

/* RESUME CONTENT */
#resume-content-title {
    padding: 0px 15px 0px;
    margin: 3.5% 0% 9.5% 3%;
    font-family: "WorkSans-SemiBold", "Work Sans", sans-serif;
    font-size: 216%;
    line-height: normal;
    letter-spacing: normal;
}

/* Horizontal lines as separator */
.resume-content hr {
    margin-bottom: 12.5%;
}

/* RESUME CONTENT SECTION */
.resume-content-section {
    padding: 0px 15px 0px;
    margin: 0px 3%;
}

.resume-content-section-title {
    margin-bottom: 40px;
}

.resume-content-section-title h2 {
    margin-top: -1.15%;
    margin-bottom: 0px;
    font-family: "WorkSans-SemiBold", "Work Sans", sans-serif;
    font-size: 178%;
}

.resume-content-section-details-element-period {
    margin-top: 14%;
    font-size: 127%;
}

.resume-content-section-details-element-infos {
    margin-bottom: 40px;
}

.resume-content-section-details-element-infos h3 {
    margin-top: 1%;
    margin-bottom: 0px;
    font-family: "WorkSans-SemiBold", "Work Sans", sans-serif;
    font-size: 145%;
}

.resume-content-section-details-element-infos h3~p {
    margin-top: -6.3%;
    font-size: 130%;
    line-height: 1.6em;
}

.resume-content-section-details-element-infos p.tech-stack {
    /* font-size: 120%; */
    font-style: italic;
    margin-top: -3%;
    margin-bottom: 8%;
}

.resume-content-section-details-element-infos ul li {
    margin-top: -6.3%;
    margin-bottom: 5%;
    font-size: 130%;
    line-height: 1.8em;
}

/**
-------------------------------------------------------
---------- RESPONSIVENESS MANAGEMENT ------------------
-------------------------------------------------------
**/

@media only screen and (min-width: 768px) {
    .resume-content {
        margin: -5% 0% 10% -5%;
    }

    #resume-content-title {
        margin: 0% 0% 50px 20%;
        font-family: "WorkSans-SemiBold", "Work Sans", sans-serif;
        font-size: 42px;
    }

    .resume-content hr {
        margin-bottom: 5%;
    }

    .resume-content-section {
        display: flex;
        margin: 3.9% 5% 40px 20%;
        flex-direction: row;
        justify-content: space-between;
    }

    .resume-content-section-title {
        margin-right: 41%;
    }

    .resume-content-section-title h2 {
        margin: -1.15% 0% 0% 0%;
        font-family: "WorkSans-SemiBold", "Work Sans", sans-serif;
        font-size: 165%;
    }

    .resume-content-section-details {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
    }

    .resume-content-section-details-element {
        display: flex;
        width: auto;
        margin-bottom: -2%;
        flex-direction: row;
    }

    .resume-content-section-details-element-period {
        width: 15%;
        margin: 1% 4% 0% 0%;
        font-size: 107%;
    }

    .resume-content-section-details-element-infos {
        width: 50%;
        margin-left: -1.5%;
    }

    .resume-content-section-details-element-infos h3 {
        margin-top: 2%;
        margin-bottom: 0px;
        font-family: "WorkSans-SemiBold", "Work Sans", sans-serif;
        font-size: 110%;
    }

    .resume-content-section-details-element-infos h3~p {
        margin-top: -9.3%;
        font-size: 107%;
        line-height: 1.6em;
    }

    .resume-content-section-details-element-infos p.tech-stack {
        /* font-size: 100%; */
        margin-top: -3%;
        margin-bottom: 8%;
    }

    .resume-content-section-details-element-infos ul li {
        margin-top: -9.3%;
        margin-bottom: 5%;
        font-size: 107%;
        line-height: 2.8em;
    }
}
